<!DOCTYPE html>
<div>
  <div class="container d-flex justify-content-between">
    <h1 style="">¡Bienvenido! {{name}} {{lastname}}</h1>
    <div class="d-flex">
      <a href="http://localhost:8080/login"><button class="btn btn-primary">Login</button></a>
      <a href="http://localhost:8080/register"><button class="btn btn-danger">Register</button></a>
    </div>
  </div>
  <div class="d-flex justify-content-center aling-items-center mt-5">
    <a href="http://localhost:8080/api/products" class="me-3"><button class="btn btn-primary">Lista de productos</button></a>
    <a href="http://localhost:8080/realtimeproducts"><button class="btn btn-primary">Productos en tiempo real</button></a>
  </div>
</div>